<main>
  <form action="/admin/add-product" method="POST" class="product-form">
    <div class="form-control">
      <label for="title"></label>
      <input type="text" name="title" id="title" />
    </div>
    <button class="btn">Add product</button>
  </form>
</main>